.archived {
  text-decoration: line-through;
  background: #eee;
  cursor: not-allowed;
}

table.dataTable {
  tbody {
    tr.locked {
      background: #eee;
      opacity: 0.3;

      &::after {
        content: "\f023";
        font-family: "FontAwesome";
        font-size: 25px;
        left: 0;
        margin-left: -30px;
        padding-top: 2px;
        position: absolute;
      }
    }
  }
}

.vex-dialog-input {
  font-size: 12px;

  .form-group {
    margin: 0;
  }
}

.xlsx-export {
  float: right;
  font-size: 13px;
}

.filter-toggle-link {
  font-size: 18px;
  margin-left: 5px;
  vertical-align: middle;
  
  &::before {
    content: ' (';
  }

  &::after {
    content: ')';
  }
}

#report-filters {
  padding-top: 20px;
}

.fa-bars {
  font-size: 26px;
}

.mobile-navigation {
  display: none;
  z-index: 9999999;
  width: 100%;

  ul {
    list-style-type: none;
    padding: 0;
  }

  .nav-item {
    text-align: center;

    .nav-link {
      font-size: 22px;
      color: #fff;
    }
  }
}

.navbar-dark {
  display: none;

  .fa-bars {
    display: block;
    float: right;
  }

  .navbar-nav {
    padding-bottom: 7px;
  }

  @media only screen and(max-width: 767px) {
    display: block;
  }
}

.form-check-label {
  vertical-align: top;
}