extends layout/admin-layout

block body
  nav.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0
    ul.navbar-nav.px-3.ml-auto
      li.nav-item.text-nowrap
        a.nav-link.nav-toggle(href='#')
          i(class="fa fa-bars")
    +mobileNavigation()
  +admin-menu('replies')
  main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4(role='main')
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
      h1.h2 Vastaukset
      .btn-toolbar.mb-2.mb-md-0
      if includeFiltered
        .btn-group.mr-2
          a.btn.btn-sm.btn-outline-secondary(href="?") Oletusn채kym채
          a.btn.btn-sm.btn-outline-secondary(href="#", data-include-filtered=includeFiltered) Vie xlsx-muodossa
      else
        .btn-group.mr-2
          a.btn.btn-sm.btn-outline-secondary(href="?includeFiltered=true") N채yt채 kaikki
          a.btn.btn-sm.btn-outline-secondary(href="#", data-include-filtered=includeFiltered) Vie xlsx-muodossa
    .row.mt-4.table-container
      .col-12
        table#formsTable
          thead
            tr
              each field in fields
                th
                  =field.title
              each metafield in metafields
                th
                  =metafield.title
              th(style="width:0")
          tbody
            each reply in replies
              tr(data-reply-id=reply.id)
                each field in fields 
                  +table-title(field, reply)
                each metafield in metafields
                  +table-title(metafield, reply)
                td
                  a.btn.btn-primary(href="/admin/replies/" + reply.id)
                    |Avaa
                  if allowDeletion
                    button.btn.btn-danger.delete-reply-btn(data-id=reply.id) Poista