extends layout/admin-layout

block custom-head-admin
  +metaform-head
  link(rel='stylesheet', href='/css/themes/' + viewModel.theme  + '/form-reply.min.css')
  script(defer='defer',src='/js/form.min.js')

block body
  .container
    +admin-menu('replies')
  .col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4
    .row.mt-4
      .col-10
        h2
          |Vastaus
      .col-2
        a(href='/admin/replies/' + formReply.id + '/pdf', target='_blank').btn.btn-primary Lataa PDF
    .row
      .col-12
        h1
          =viewModel.title
    .row
      .col-12
        .metaform-container(data-form=viewModel,data-form-values=formReply.data,data-action="/formReply/" + formReply.id,data-reply-id=formReply.id)