extends layout/layout
block custom-head
  title #{metaform.title}
  +metaform-head
  link(rel='stylesheet', href='/css/form.min.css')
  script(defer='defer',src='/js/form.min.js',type='text/javascript')
block body
  .container
    .metaform-container(data-form=metaform,data-action="/formReply")