mixin admin-menu(active)
  nav.col-md-2.d-none.d-md-block.bg-light.sidebar
    .sidebar-sticky
      ul.nav.flex-column
        li.nav-item
          a.nav-link(class=active == 'replies' ? 'active' : '', href='/admin')
            span
            | Vastaukset 
            span.sr-only (current)
        if formConfig.reports
          li.nav-item
            a.nav-link(class=active == 'report' ? 'active' : '', href='/admin/report')
              span
              | Raportit
        if keycloakAccountUrl
          li.nav-item
            a.nav-link(class=active == 'change-password' ? 'active' : '', href=keycloakAccountUrl)
              span
              | Käyttäjätili
          li.nav-item
            a.nav-link(href='/logout')
              span
              | Kirjaudu ulos
mixin table-title(field, reply)
  td
    case field.type 
      when 'radio'
      when 'select'
        each option in field.options
          if reply.data[field.name] == option.name
            =option.text
      when 'date-time'
        =moment(reply.data[field.name]).format('DD.MM.YYYY HH:mm')
      when 'date'
        if (field-time)
          =moment(reply.data[field.name]).format('DD.MM.YYYY HH:mm')
        else
          =moment(reply.data[field.name]).format('DD.MM.YYYY')
      default
        =reply.data[field.name]