form#report-filters
  .row
    .col
      h5 Suodata
  .row
    each filter in filters
      .col
        .row
          .col
            label(for="filter-" + filter.field)
              =filter.title
        .row
          .col
            select.form-control(name=filter.field, id="filter-" + filter.field)
              option(value="__ALL__")
                |Kaikki
              each option in filter.options
                option(value=option.name)
                  =option.text