include ../../mixins/filters

form#report-filters
  .row
    .col
      h5 Suodata
  .row
    each filter in filters
      if filter.type == "field"
        +fieldFilter(filter)
      else if filter.type = "reply-time"
        +timeFilter(filter)
      else
        pre
          | Unknown filter:
          =filter.type