extends layout
include ../mixins/admin

block custom-head
  title=title
  link(rel='stylesheet', href='//cdn.metatavu.io/libs/vex/2.3.3/css/vex.css')
  link(rel='stylesheet', href='//cdn.metatavu.io/libs/vex/2.3.3/css/vex-theme-default.css')
  link(rel='stylesheet', href='//cdn.metatavu.io/libs/font-awesome/4.6.3/css/font-awesome.min.css')
  link(rel='stylesheet', href='/css/dashboard.min.css')
  link(rel='stylesheet', href='/css/admin.min.css')
  link(rel='stylesheet', href='//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css')
  script(defer='defer',src='//cdn.metatavu.io/libs/String.prototype.startsWith/0.2.0/startswith.js',type='text/javascript')
  script(defer='defer', src='//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js')
  script(defer='defer', src='//cdn.metatavu.io/libs/vex/2.3.3/js/vex.combined.min.js')
  script(defer='defer', src='/socket.io/socket.io.js')
  script(defer='defer', src='/js/admin-templates.js')
  script(defer='defer', src='/js/admin.min.js')
  block custom-head-admin

block body
  .container
    block content